@import url('https://fonts.cdnfonts.com/css/allerta-stencil');
@import url('https://fonts.cdnfonts.com/css/allerta');
@import url('https://fonts.cdnfonts.com/css/almarai');

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    background-color: #a29e9e;
    margin: 0;
    padding: 0;
    /* background-color: #B6B6B6; */
}

.nav {
    position: fixed;
    position: sticky;
    max-height: 20%;
    top: 0;
    left: 0;
    background-color: #4F070D;
    height: 10vh;
    /* background-color: transparent; */
    text-align: left;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-left: 5vw;
    padding-right: 2vw;
    z-index: 2000;
    /* align-items: center; */
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-header img {
    height: 50px;
    width: 50px;
}

.nav h1 {
    margin: 0;
    color: #FFF;
    font-family: 'Allerta Stencil', sans-serif;
    width: 100%;
    font-weight: 200;
    margin-left: 20px;
}

.nav span {
    color: #C59722;
    font-weight: 200;
    font-family: 'Allerta Stencil', sans-serif;
}

.nav .links {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
}

.nav li {
    list-style-type: none;
    margin-left: 7vw;
}

.nav li .current {
    text-decoration: underline;
}

.nav a {
    text-decoration: none;
    font-family: 'Allerta';
    color: #FFF;
    font-size: 20px;
}

.nav .account {
    display: flex;
    border: 3px solid #FFF;
    border-radius: 20px;
    margin-left: 5vw;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    place-items: center;
    justify-content: center;
    max-height: 50%;
    background-color: transparent;
}

.nav .account img {
    height: 20px;
    width: 20px;
}

.nav h2 {
    color: #FFF;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Allerta';
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    margin-top: 5vh;
}

.left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    font-family: 'Almarai';
    padding: 5vh 2vw;
}

.content .template {
    width: 100%;
    background-color: #D9D9D9;
    padding: 1vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin: 1vh 0;
}

.content .template .templateLeft{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content .template .statusBar {
    display: flex;
    /* justify-content: space-between; */
    gap: 5px;
    width: 100%;
}

.statusBar i.ready{
    color: green;
}

.content .template .templateRight button{
    padding: 2vh 2vw;
    background-color: #FFF;
    border-radius: 15px;
}

.right {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Almarai';
    width: 40%;
    height: 100%;
    padding: 5vh 2vw;
    background-color: #FFF;
}

.title {
    font-family: 'Almarai';
    border-bottom: 2px solid #000;
    width: 100%;
    text-align: center;
    margin-bottom: 1vh;
}

.statusBar i.inactive{
    color: #000;
}

.statusBar i.not-ready{
    color: #ff0000;
}

.pop-up{
    width: 100vw;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 12%; */
    z-index: 2000;
    background-color: rgb(0, 0, 0, 0.5);
    transition: all 0.5s ease;
    /* align-items: center; */
    /* background-color: #FFF; */
}

.pop-up.active{
    height: 100vh;
}

.receipt{
    width: 40%;
    height: 80%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh;
}

.receiptHeader{
    border-bottom: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.receiptHeader .title h1{
    text-align: center;
    /* padding: 2vh 0; */
    font-family: 'Almarai';
}

.receiptHeader .topId{
    margin-bottom: 20px;
}

.receiptFill{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    border-bottom: 2px solid #000;
}

.pop-up .template{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pop-up .template .amount{
    display: flex;
    width: 30%;
    justify-content: left;
    align-items: center;
}

.pop-up .template .amount h1{
    font-size: 20px;
    width: 10%;
    /* border-bottom: 2px solid #000; */
}

.pop-up .template .amount h2{
    border: 1px solid #000;
    /* padding: 5px; */
    height: 2vw;
    width: 2vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    border-radius: 50%;
}

.pop-up .template h3{
    width: 9vw;
    text-align: right;
    font-size: 20px;
    font-family: 'Almarai';
    font-weight: 700;
}

.pop-up .template #price{
    text-align: left;
}

.receiptFooter{
    height: 30%;
    display: grid;
}

.total{
    display: flex;
    width: 100%;
    /* padding: 0 2vw; */
    font-family: 'Almarai';
    justify-content: space-between;
    align-items: center;
    padding: 0 1vh;
    border-top: 2px solid #000;
}

.total h1{
    font-size: 20px;
}

.total h3{
    font-size: 20px;
}

.receiptFooter .button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}

.receiptFooter .button button{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #5b5959;
    color: #FFF;
    font-size: 16px;
    font-family: 'Almarai';
    
}